<footer class="probootstrap-footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 mb-4">
            <h2 class="probootstrap-heading"><a href="index.html"><img src="{{ "/assets/images/helenas-cleaning-green-logo.svg" | relative_url }}"></a>
            </h2>
            <p>
              <a href="jobs.html">We're Hiring!</a>
            </p>
          </div>
          <div class="col-md-7 mb-4">
            <div class="row align-items-start text-left">
              <div class="col-sm-6 mb-4">
                <h5>Hours</h5>
                <table>
                  <tr>
                    <td class="pr-1">Mon - Thr:</td>
                    <td>11:00AM - 4:00PM</td>
                  </tr>
                  <tr>
                    <td class="pr-1">Fri:</td>
                    <td>10:00AM - 2:00PM</td>
                  </tr>
                </table>
              </div><!-- /.col-lg-4 -->
              <div class="col-sm-6">
                <h5>Contact Us</h5>
                <p><a href="tel:{{ site.phone_number }}">{{ site.phone_number }}</a><br>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
              </div><!-- /.col-lg-4 -->
            </div>
          </div>
        <div class="col-md-2">
        <div class="probootstrap-footer-widget mb-2">
          <ul class="probootstrap-footer-social list-unstyled float-md-right float-lft">
            <li><a href="http://facebook.com/helenascleaningservices"><icon class="icon-facebook"></icon></a></li>
            <li><a href="https://twitter.com/helenasCleaning"><icon class="icon-twitter"></icon></a></li>
          </ul>
        </div>
      </div></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md text-md-center text-left">
        <p><small>&copy; {{ site.title | escape }}</small></p>
      </div>
    </div>
  </div>
</footer>